/* Main Styles */

* {
    margin: 0;
    padding: 0;
}

body {
	background-color: black;
	color: white;
	cursor: pointer;
	overflow: hidden;
}

html, body {
    height: 100%;
}

#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid gray 15px;
    padding-top: 125px;
}

#aboutContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid gray 15px;
    padding-top: 50px;
}

#projectContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid gray 15px;
    padding-top: 15px;
}

/* Home styles */

#name {
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 1px;
}

#career {
	text-align: center;
	font-size: 1em;
}

/* Nav Stlyes */

#nav {
	text-align: center;
	margin-top: 69px;
	margin-bottom: 100px;
	font-size: 1.25em;
	margin-left: 30px;
}

#about-nav {
	text-align: center;
	margin-top: 75px;
	font-size: 1.25em;
	margin-left: 30px;
}

#projects-nav {
	padding-top: 0;
	margin-top: 0;
	font-size: 1.25em;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: white;
}

a:focus {
	text-decoration: underline;
	color: white;
}

#nav a,
#projects-nav a,
#about-nav a {
	display: inline-block;
	margin-right: 25px;
}

/*Contact styles */

#contactInfo,
#aboutContactInfo {
	text-align: center;
	margin-top: 50px;
	font-size: 1em;
	color: silver;
	display: none;
}

#contactInfo p,
#aboutContactInfo p {
	margin-bottom: 15px;
}

.link {
	color: silver;
}

/* About styles */

#about-name,
#closing-tag {
}

.info-item {
	margin-top: 10px;
}

/* Project styles */

.img {
	margin: 35px auto 0;
	width: 60%;
	border: solid silver 10px;
}

.slick-dots li button::before {
	color: white;
	font-size: 16px;
}

.slick-dots li.slick-active button:before {
	color: white;
}

#try-me {
	margin: 25px auto 0;
}

#please-visit {
	margin-top: 35px;
	color: silver;
}

@media (max-width: 500px) {
	#container,
	#aboutContainer,
	#projectContainer {
    	border: none;
    	overflow: auto;
    }

    #container,
    #aboutContainer {
    	padding-top: 10px;
    }

    #nav,
    #about-nav {
    	margin-top: 35px;
    }
}

@media (min-width: 1200px) {
	.img {
		width: 700px;
	}
}