/* Main Styles */

* {
    margin: 0;
    padding: 0;
}

body {
	background-color: black;
	color: white;
	cursor: pointer;
	overflow: hidden;
}

html, body {
    height: 100%;
}

#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid gray 15px;
    padding-top: 125px;
}

#aboutContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid gray 15px;
    padding-top: 50px;
    overflow: hidden;
}

#projectContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid gray 15px;
    padding-top: 15px;
}

/* Home styles */

#name {
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 1px;
}

#career {
	text-align: center;
	font-size: 1em;
}

/* Nav Stlyes */

#nav {
	text-align: center;
	margin-top: 69px;
	margin-bottom: 100px;
	font-size: 1.25em;
}

#about-nav {
	text-align: center;
	margin-top: 35px;
	font-size: 1.25em;
	position: relative;
	z-index: 100;
}

#projects-nav {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 37px;
	font-size: 1.25em;
}

#nav a,
#about-nav a,
#projects-nav a {
	color: silver;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: white;
}

a:focus {
	text-decoration: underline;
	color: white;
}

#nav a,
#about-nav a {
	display: inline-block;
}

#nav a:nth-child(2) {
	margin-left: 20px;
	margin-right: 20px;
}

#about-nav a:nth-child(2) {
	margin-left: 20px;
	margin-right: 20px;
}

#projects-nav a {
	display: inline-block;
	margin-left: 15px;
}

/*Contact styles */

#contactInfo,
#aboutContactInfo  {
	text-align: center;
	margin-top: 35px;
	font-size: 1em;
	color: silver;
	display: none;
}

#contactInfo p,
#aboutContactInfo p {
	margin-bottom: 15px;
}

.link {
	color: silver;
}

/* About styles */

#about-name {
	margin-top: 0px;
	margin-bottom: 40px;
	text-align: center;
}

#about-info {
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

#about-info p {
	margin-bottom: 20px;
	margin-left: 10px;
}

.triangle {
	opacity: 0.55;
	width: 25%;
    height: 0;
    padding-left: 50%;
    padding-top: 29.5%;
    overflow: hidden;
}

.triangle:after {
	content: "";
    display: block;
    width: 0; 
    height: 0;
   	margin-left:-350px;
    margin-top:-350px;
     
    border-left: 350px solid transparent;
    border-right: 350px solid transparent;
    border-top: 350px solid silver;
    position: absolute;
	z-index: -100;
}

.triangle-div {
	position: absolute;
	top: 58%;
	left: 50%;
	z-index: -100;

}

/* Project styles */

.img {
	/*margin: 35px auto 0;*/
	margin: 0 auto;
	width: 60%;
	border: solid silver 10px;
}

.slick-dots li button::before {
	color: white;
	font-size: 16px;
}

.slick-dots li.slick-active button:before {
	color: white;
}

#try-me {
	margin: 25px auto 0;
}

#please-visit {
	margin-top: 35px;
	color: silver;
}

@media (max-width: 500px) {
	#container,
	#aboutContainer,
	#projectContainer {
    	border: none;
    	overflow: auto;
    }

    #container,
    #aboutContainer {
    	padding-top: 10px;
    }

    #nav {
    	margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
	.img {
		width: 700px;
	}
}